<section>
  <div class="bl-box">
    <h2 class="bl-icon bl-icon-works">Work</h2>
  </div>
  <div class="bl-content">
    <h2>My Works</h2>
    <p>Mung bean maize dandelion sea lettuce catsear bunya nuts ricebean tatsoi caulie horseradish pea.</p>
    <ul id="bl-work-items">
      <!-- <li data-panel="panel-1"><a href="#"><img src="images/1.jpg" /></a></li>
      <li data-panel="panel-2"><a href="#"><img src="images/2.jpg" /></a></li>
      <li data-panel="panel-3"><a href="#"><img src="images/3.jpg" /></a></li>
      <li data-panel="panel-4"><a href="#"><img src="images/4.jpg" /></a></li> -->
    </ul>
    <p>Illustrations by <a href="http://dribbble.com/isaac317/click">Isaac Montemayor</a></p>
  </div>
  <i class="fa fa-close">Close</i>
  <span class="bl-icon bl-icon-close"></span>
</section>